/* General styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --text-accent-color: #292929;
  --accent-color: #c5a974;
  --background-font: "Holtwood One SC", serif;
  --text-grey-color: grey;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: black;
  margin: 0 auto;
  display: block;
}

/* Header styles */
header {
  width: 100vw;
  z-index: 1;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-style: italic;
  color: var(--text-accent-color);
  background-color: var(--accent-color);
  display: flex;
  align-items: center;
  height: 50px;
}

.title {
  font-size: 2rem;
  font-family: var(--background-font);
  margin: auto;
}

.navList {
  display: flex;
}

.logo {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  margin: 0 10px;
}

ul {
  list-style-type: none;
}

.hometop,
.abouttop,
.portfoliotop,
.contacttop {
  margin-right: 10px;
}

/* Footer styles */
.footer {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  height: 150px;
  width: 100vw;
  background-color: var(--accent-color);
}

.bottomName {
  font-size: 5rem;
  font-style: italic;
  color: var(--text-accent-color);
  font-family: var(--background-font);
  text-wrap: nowrap;
}

.navListBottom {
  display: flex;
  font-family: "Courier New", Courier, monospace;
}

.list {
  padding: 0;
  transform: translateY(5px);
  font-weight: bold;
}

.homebtm,
.aboutbtm,
.portfoliobtm,
.contactbtm {
  padding-bottom: 5px;
}

/* Unique page styles */
.BackgroundShane {
  transform: translateX(-20px);
  text-align: center;
  color: var(--text-grey-color);
  font-size: 5rem;
  font-family: var(--background-font);
  font-weight: bold;
  font-style: italic;
}

.HomePageImg {
  display: block;
  margin: 0 auto;
  width: 80%;
  object-fit: cover;
  transform: translateY(-80px);
  border-radius: 15px;
  border: 2px solid var(--text-grey-color);
}

.Bio {
  position: relative;
  display: inline-block;
  color: white;
  padding: 0;
}

.Skills,
.Bio1,
.Bio2,
.Bio3 {
  color: var(--accent-color);
  position: relative;
  width: 100vw;
  text-align: center;
  margin: 10px;
  font-family: var(--background-font);
}

.Bio1 {
  font-size: large;
}

.Bio2 {
  font-size: small;
}

.Bio3 {
  font-weight: 100;
  font-size: 0.75rem;
  margin-bottom: 75px;
}

.Skills {
  font-size: 2.5rem;
  font-style: normal;
  transform: translateY(15px);
}

.AboutMe,
.paragraph {
  font-family: "Courier New", Courier, monospace;
  color: var(--text-grey-color);
  padding: 2px;
  text-align: center;
}

.AboutMe {
  margin-top: 50px;
  font-size: 2.5rem;
}

.paragraph {
  max-height: fit-content;
  width: 500px;
  margin: 50px auto;
  padding: 50px;
}

.achievementstitle {
  text-align: center;
  color: var(--text-grey-color);
  margin-top: 50px;
  font-size: 2.5rem;
  font-family: "Courier New", Courier, monospace;
}

.achievements,
.achievementDescription {
  display: flex;
  justify-content: space-around;
  color: var(--text-grey-color);
  margin-top: 50px;
  font-family: "Courier New", Courier, monospace;
}

.achievements {
  font-size: 1.5rem;
}

.images {
  display: flex;
  justify-content: space-around;
  margin: 15px 0 50px;
}

.ach1,
.ach2,
.ach3 {
  border-radius: 15px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.description {
  width: 200px;
  text-align: center;
}

.projecttitle {
  font-family: "Courier New", Courier, monospace;
  color: var(--text-grey-color);
  text-align: center;
  margin: 50px 0;
  font-size: 3rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(2, 500px);
  margin-top: 20px;
  justify-content: space-evenly;
  color: var(--text-grey-color);
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.grid-item1,
.grid-item2,
.grid-item3,
.grid-item4,
.grid-item5,
.grid-item6 {
  margin-top: 15px;
  border-radius: 15%;
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.skillList {
  list-style: disc;
  list-style-position: inside;
  padding-left: 0;
  font-family: "Courier New", Courier, monospace;
}

.contactMe {
  color: var(--accent-color);
  font-family: var(--background-font);
  text-align: center;
  margin-top: 50px;
  font-size: 2.2rem;
}

.form-container {
  width: fit-content;
  height: fit-content;
  padding: 75px;
  background-color: var(--text-accent-color);
  color: lightgrey;
  margin: 50px auto;
  border-radius: 50px;
  border: 5px solid var(--accent-color);
}

.label-input-wrapper {
  text-align: left;
  padding: 20px;
}

.label {
  font-size: 1.5rem;
  font-family: "Courier New", Courier, monospace;
}

.input {
  display: block;
  width: 300px;
  border-radius: 10px;
  border: none;
  resize: vertical;
  background-color: #fafad2;
  padding: 5px;
}

.input:focus {
  background-color: #f8f8ac;
}

.button-wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.button {
  padding: 20px;
  width: 150px;
  border: none;
  border-radius: 50px;
  background-color: var(--accent-color);
  transition: background-color 2s ease;
}

.button:hover {
  background-color: darkorange;
}

@media (min-width: 600px) {
}
