*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --text-accent-color: #292929;
    --accent-color: #c5a974;
    --background-font: "Holtwood One SC", serif;
    --text-grey-color: grey;
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    width: 100vw;
    height: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-style: italic;
    color: var(--text-accent-color);
    background-color: var(--accent-color);
    display: flex;
    align-items: center;
}

.title {
    font-size: 2rem;
    font-family: var(--background-font);
    margin: auto;
}

.navList {
    display: flex;
}

.logo {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    margin-right: 10px;
    margin-left: 10px;
}

ul {
    list-style-type: none;
}

.hometop, .abouttop, .portfoliotop, .contacttop {
    margin-right: 20px;
}

body {
    background-color: black;
    margin: 0;
}

.contactMe {
    color: var(--accent-color);
    font-family: var(--background-font);
    text-align: center;
    margin-top: 50px;
    font-size: 2.2rem;
}

.form-container {
    width: fit-content;
    height: fit-content;
    padding: 75px;
    background-color: var(--text-accent-color);
    color: lightgrey;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 50px;
    border: 5px solid var(--accent-color);
}

.label-input-wrapper {
    text-align: left;
    padding: 20px;
}

.label {
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
}

.input {
    display: block;
    width: 300px;
    border-radius: 10px;
    border: none;
    resize: vertical;
    background-color: #fafad2;
    padding: 5px;
}

.input:focus {
    background-color: #f8f8ac;
}

.button-wrapper {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.button {
    padding: 20px;
    width: 150px;
    border: none;
    border-radius: 50px;
    background-color: var(--accent-color);
    transition: background-color 2s ease;
}

.button:hover {
    background-color: darkorange;
}





.footer {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    width: 100vw;
    background-color: var(--accent-color);
}

.bottomName {
    font-size: 5rem;
    font-style: italic;
    color: var(--text-accent-color);
    font-family: var(--background-font);
    text-wrap: nowrap;
}

.navListBottom {
    display: flex;
    font-family: 'Courier New', Courier, monospace;
}

.list {
    padding: 0;
    transform: translateY(5px);
    font-weight: bold;
}

.homebtm, .aboutbtm, .portfoliobtm, .contactbtm {
    padding-bottom: 5px;
}